Source: adaptation-volla-algiz
Maintainer: Erik Inkinen <erik.inkinen@erikinkinen.fi>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 13),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-volla-algiz
Vcs-Git: https://github.com/droidian-devices/adaptation-volla-algiz.git

Package: adaptation-volla-algiz
Architecture: arm64
Depends: ${misc:Depends},
         linux-bootimage-volla-algiz,
         adaptation-hybris-api33-phone,
         adaptation-volla-algiz-configs,         
         droidian-quirks-full-resize,
         droidian-camera,
Description: adapatation-volla-algiz - meta
 Volla Phone Quintus api33 adaptation metapackage

Package: adaptation-volla-algiz-configs
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-volla-algiz (= ${binary:Version}),
         bsdextrautils,
Description: Volla Phone Quintus' specific adaptation configs
